/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
:root {
    --color-text-primary: #333;
}
[data-theme="dark"] {
    --color-text-primary: #cdd6f4;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--color-text-primary);
  background: #cdd6f4;
}

.hljs-comment {
  color: #9399b2;
}
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword {
  color: #cba6f7;
}
.hljs-selector-tag,
.hljs-subst {
  color: var(--color-text-primary);
  font-weight: bold;
}

.hljs-number {
  color: #fab387;
}
.hljs-literal {
  color: #fab387;
}
.hljs-variable {
  color: #f38ba8;
}
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string {
  color: #a6e3a1;
}
.hljs-doctag {
  color: #d14;
}

.hljs-title {
  color: #89b4fa;
}
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type {
  color: #f9e2af;
}
.hljs-class .hljs-title {
  color: #f9e2af;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #89b4fa;
  font-weight: normal;
}

.hljs-regexp {
  color: #f5c2e7;
}
.hljs-link {
  color: #009926;
}

.hljs-symbol {
  color: #94e2d5;
}
.hljs-bullet {
  color: #990073;
}

.hljs-built_in {
  color: #eba0ac;
}
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
